.container {
    display: flex;
    justify-content: space-between;
    & + & {
        margin-top: 10px;
    }
}

.label {
    font-size: 12px;
    line-height: 18px;
    color: var(--secondary);
    text-transform: uppercase;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
}

.stop {
    position: relative;
    & + & {
        padding-left: 12px;
        &:before {
            content: '-';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 4px;
        }
    }
}
