.button {
    color: var(--text);
    text-transform: uppercase;
    border: 1px solid var(--border);
    padding: 15px;
    width: 100%;
    display: block;
    cursor: pointer;
    background: white;
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover {
        background: var(--main);
        color: #fff;
    }
    &:global(.active) {
        color: #fff;
        background: var(--main);
        border: 1px solid var(--main);
    }
    &:active {
        outline: none;
        background: var(--main);
    }
}
