.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-right: 12%;
    img {
        display: block;
    }
}

.price {
    font-size: 24px;
    font-weight: 600;
    color: var(--main);
}

.container {
    min-width: 502px;
}
